#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
.main-card{
    display: flex;
    justify-content: space-between;
    min-width: 320px;
    min-height: 100vh;
}
input {
    width: 15em;
    height: 2em;
    margin-top: 0.1em;
}
p{
    font-size: 30px;
    margin: 0;
}
button{
    padding-top: 1rem;
}


